.statistic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

:global(.ui.label).statisticLabel {
    border-radius: 20px;
    color: #b0b0b5;
    border: solid 1px #f7a232;
    background-color: transparent;
    user-select: none;
}

@media (max-width: 650px) {
    :global(.ui.label).statisticLabel:not(:last-child) {
        margin-bottom: 7px;
    }
}
