.messageFormWrapper {
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid #f7a232 !important;
}
.messageForm {
    padding: 15px;
}

.messageFormGrid {
    display: grid;
    align-items: center;
    grid-template: 1fr 1fr / 1fr 16%;
    grid-gap: 1vw;
}

.messageTextArea {
    grid-area: 1 / 1 / 3 / 2;
}

.messageTextArea:focus {
    outline: none !important;
    border: 1px solid #121212 !important;
    box-shadow: 0 0 2px #121212 !important;
}

.sendMessageButton {
    grid-area: 1 / 2 / 2 / 3;
}

.clearButton {
    grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 520px) {
    .messageFormGrid {
        grid-template-columns: 1fr 20%;
        grid-gap: 1.3vw;
    }
}
