.chatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 20px;
    border: solid #f7a232;
}

.chatNameWrapper {
    position: relative;
    margin: 0 !important;
    height: 50px !important;
}

.chatName {
    position: absolute;
    top: -14px;
    padding: 10px !important;
    white-space: nowrap;
    color: #121212 !important;
    font-size: 2em !important;
    font-weight: bolder !important;
    border-radius: 20px;
    border: solid #121212 !important;
    background-color: white;
    z-index: 1;
}

@media (max-width: 650px) {
    .chatNameWrapper {
        height: 43px !important;
    }

    .chatName {
        position: static;
        font-size: 1.7em !important;
        border: none !important;
        background-color: transparent;
    }
}

@media (max-width: 370px) {
    .chatNameWrapper {
        height: 38px !important;
    }

    .chatName {
        font-size: 1.5em !important;
    }
}
