:global(.ui.modal > .header) {
    background: transparent !important;
}

:global(.ui.modal > .content) {
    background: transparent !important;
}

:global(.ui.modal).editModal {
    border-radius: 20px !important;
    border: solid #f7a232 !important;
}
