.message {
    padding: 15px !important;
    border-radius: 20px;
    border: solid #121212 !important;
}

.ownMessage {
    padding: 15px !important;
    border-radius: 20px;
    border: solid #f7a232 !important;
}

.ownMessageActions {
    padding: 10px;
    margin-left: 1rem;
}

:global(.ui.basic.label).toolbarBtn {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    color: #b0b0b5;
}

:global(.ui.huge.basic.label).likeButton:hover {
    color: #f7a232;
}

:global(.ui.huge.basic.label).editButton:hover {
    color: #121212;
}

:global(.ui.huge.basic.label).deleteButton:hover {
    color: darkred;
}

:global(.ui.huge.basic.label).disabledButton {
    pointer-events: none;
}
